<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/allFilms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script defer src="../static/js/script.js"></script>
    <script defer src="../static/js/contact_service.js"></script>
    <title>Список Фільмів</title>
</head>
<body>
    <header>
        <img src="https://cdn.discordapp.com/attachments/1094256351284318209/1094280342426374325/Screenshot_2023-04-08_at_1easasdasdasd.11.55.png" alt="logo">
        <div class="dropdown">
            <button class="dropbtn">Львів, ТРЦ Мегаполіс</button>
            <div class="dropdown-content">
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            </div>
        </div>
        <nav>
            <ul>
                <li>СКОРО</li>
                <li>ФІЛЬМИ</li>
                <li>РОЗКЛАД СЕАНСІВ</li>
                <li>ПРО НАС</li>
            </ul>
        </nav>
        <button id="loginBtn">Увійти</button>
    </header>
    
    <div id="backgroundPopup"></div>
    <div class="loginPopup">
        <form id="formPopup" onsubmit="submitContact(event);return false;">
            <h2>Вхід</h2>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Пароль">
            <input id="loginPopupBtn" type="submit" value="Увійти">
        </form>
        <button id="regPopupBtn">Реєстрація</button>
    </div>
    
    <div class="regPopup">
        <form id="formPopup" onsubmit="submitContact(event);return false;">
            <h2>Реєстрація</h2>
            <input type="text" name="Name" id="regName" placeholder="Імʼя">
            <input type="text" name="Surname" id="regSurName" placeholder="Прізвище">
            <input type="email" name="Email" id="regEmail" placeholder="Email">
            <input type="text" name="Password"  id="regPassword" placeholder="Пароль">
            <input type="text" name="DupPassword" id="regDupPass" placeholder="Підтвердження пароля">
            <input type="submit" id="createAccBtn">Створити</button>
        </form>
    </div>

    <main>
        <div class="filmsWrapper">
            <div class="card">
                <div class="poster">
                    <img id="bigImg" src="https://www.kinolumiere.com/uploads/films/1681206161_Renfield_1920x800_Lumiere.jpg" alt="bigLogo">
                </div>
                <div class="information">
                    <h1>Вавилон</h1>
                    <p style="font-weight: bold;">Рік: <span id="year">2023</span></p>
                    <p style="font-weight: bold;">Тривалість: <span id="duration">189 хв.</span></p>
                    <p style="font-weight: bold;">Жанр: <span id="genre">історичний, драма</span></p>
                    <p class="movieDescription">Лауреат премії «Оскар» Демієн Шазелл збирає неповторний зірковий каст
                    та запрошує поринути в Лос-Анджелес 1920-х років! 
                    Зустрічайте на великому екрані Бреда Пітта, Марґо Роббі, Дієго Кальву, 
                    Тобі Маґвайра й Олівію Вайлд в епічній кіноісторії. Шалена 
                    розповідь про величезні амбіції та надмірну дозволеність розкаже про злети 
                    та падіння в епоху декадансу та розпусти в ранньому Голлівуді.</p>
                </div>
            </div>
            <div class="card">
                <div class="poster">
                    <img id="bigImg" src="https://www.kinolumiere.com/uploads/films/1680771467_%D0%86%D0%B2%D0%B0%D0%BD%D0%BE%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA.png" alt="bigLogo">
                </div>
                <div class="information">
                    <h1>Вавилон</h1>
                    <p style="font-weight: bold;">Рік: <span id="year">2023</span></p>
                    <p style="font-weight: bold;">Тривалість: <span id="duration">189 хв.</span></p>
                    <p style="font-weight: bold;">Жанр: <span id="genre">історичний, драма</span></p>
                    <p class="movieDescription">Лауреат премії «Оскар» Демієн Шазелл збирає неповторний зірковий каст
                    та запрошує поринути в Лос-Анджелес 1920-х років! 
                    Зустрічайте на великому екрані Бреда Пітта, Марґо Роббі, Дієго Кальву, 
                    Тобі Маґвайра й Олівію Вайлд в епічній кіноісторії. Шалена 
                    розповідь про величезні амбіції та надмірну дозволеність розкаже про злети 
                    та падіння в епоху декадансу та розпусти в ранньому Голлівуді.</p>
                </div>
            </div>
        </div>
    </main>
</body>