<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/booking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>QUAD Cinema</title>
</head>
<body>
<div id="background-popup"></div>
<header id="header">
    <a th:href="@{/}" class="logo">
        <img src="/img/logo.png" alt="logo">
    </a>
    <div class="dropdown">
        <select id="cinemas">

        </select>
    </div>
    <nav>
        <ul class="main-nav">

            <a th:href="@{/movie}">
                <li>Фільми</li>
            </a>
            <a>
                <li>Розклад сеансів</li>
            </a>
            <a th:href="@{/info}">
                <li>Про нас</li>
            </a>
        </ul>
    </nav>
    <button id="main-login-button">Увійти</button>
    <div class="dropdown">
        <button hidden id="user-button"></button>
        <div class="dropdown-content">
            <a th:href="@{/account-managment}">Управління акаутом</a>
            <a th:href="@{/booking}">Ваші замовлення</a>
        </div>
    </div>
</header>
<div class="login-popup">
    <div id="login-form">
        <span class="material-icons" id="close-login-button">close</span>
        <h2>Вхід</h2>
        <input type="email" class="input-field" name="email" id="email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
        <label id="login-label"></label>
        <button id="login-popup-button" onclick="loginUser()">Увійти</button>
        <button id="registration-popup-button">Реєстрація</button>
    </div>

</div>

<div class="registration-popup">
    <div id="registration-form">
        <span class="material-icons" id="close-registration-button">close</span>
        <h2>Реєстрація</h2>
        <input type="text" class="input-field" name="name" id="registration-name" placeholder="Імʼя">
        <input type="text" class="input-field" name="surname" id="registration-surname" placeholder="Прізвище">
        <input type="email" class="input-field" name="email" id="registration-email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="registration-password" placeholder="Пароль">
        <input type="password" class="input-field" name="repeat-password" id="repeat-password"
               placeholder="Підтвердження пароля">
        <label id="registration-label"></label>
        <button id="create-account-button" onclick="resisterNewUser()">Зареєструватися</button>
        <button id="login-form-button"> Увійти в обліковий запис</button>
    </div>
</div>

<div class="main-container">
    <!--<div class="poster-container">
        <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/6408f6e7b5811271dc883aa8_batman-min.png">
    </div>-->
    <div id="movie-seat-container">
        <div id="movie-box" class="wrapper">
            <div id="image-container"></div>
            <div class="movie-info-container">
                <h1 id="movie-name"></h1>
                <p id="movie-location">
                    <span class="material-symbols-outlined location-icon">location_on</span>
                    <span id="location-text"></span>
                </p>
                <p id="movie-date">
                    <span class="material-symbols-outlined date-icon">event</span>
                <span id="date-text"></span>
                </p>
                <p id="movie-time">
                    <span class="material-symbols-outlined time-icon">schedule</span>
                <span id="time-text"></span>
                </p>
                <div class="showcase-container">
                    <ul class="showcase">
                        <li>
                            <div class="seat"></div>
                            <small>Вільно</small>
                        </li>
                        <li>
                            <div class="seat selected"></div>
                            <small>Вибрано</small>
                        </li>
                        <li>
                            <div class="seat occupied"></div>
                            <small>Зайнято</small>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="screen-container">
            <div class="container">
                <div class="movie-screen">
                    <img src="https://raw.githubusercontent.com/aakashsr/Movie-Seat-Booking/master/screen-thumb.png"
                         alt='screen'/>
                </div>

                <div class="row-container">
                </div>
                </div>
            </div>

        </div>
    <div class="order-container">
        <div class="user-ticket-order">
        </div>

        <p class="order-total-price">Всього до сплати: <span id="total-price">0</span> грн</p>
            <button id="order-button">Продовжити</button>
    </div>

    </div>




<script src="/js/common/header.js"></script>
<script type="module" src="/js/booking/booking.js"></script>
</body>
</html>