<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/booking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>QUAD Cinema</title>
</head>
<body>
<div id="background-popup"></div>
<header id="header">
    <a th:href="@{/}">
        <img src="/img/logo.png" alt="logo">
    </a>
    <div class="dropdown">
        <select id="cinemas">

        </select>
    </div>
    <nav>
        <ul class="main-nav">
            <a th:href="@{/movie}">
                <li>Фільми</li>
            </a>
            <a>
                <li>Розклад сеансів</li>
            </a>
            <a th:href="@{/info}">
                <li>Про нас</li>
            </a>
        </ul>
    </nav>
    <button id="main-login-button">Увійти</button>
    <button hidden id="user-button"></button>
</header>
<div class="login-popup">
    <div id="login-form">
        <span class="material-icons" id="close-login-button">close</span>
        <h2>Вхід</h2>
        <input type="email" class="input-field" name="email" id="email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
        <label id="lb-log"></label>
        <button id="login-popup-button" onclick="loginUser()">Увійти</button>
        <button id="registration-popup-button">Реєстрація</button>
    </div>

</div>

<div class="registration-popup">
    <div id="registration-form">
        <span class="material-icons" id="close-registration-button">close</span>
        <h2>Реєстрація</h2>
        <input type="text" class="input-field" name="name" id="registration-name" placeholder="Імʼя">
        <input type="text" class="input-field" name="surname" id="registration-surname" placeholder="Прізвище">
        <input type="email" class="input-field" name="email" id="registration-email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="registration-password" placeholder="Пароль">
        <input type="password" class="input-field" name="repeat-password" id="repeat-password"
               placeholder="Підтвердження пароля">
        <label id="lb-reg"></label>
        <button id="create-account-button" onclick="resisterNewUser()">Зареєструватися</button>
        <button id="login-form-button"> Увійти в обліковий запис</button>
    </div>
</div>

<div class="main-container">
    <div class="poster-container">
        <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/6408f6e7b5811271dc883aa8_batman-min.png">
    </div>

    <div class="screen-container">
        <div class="movie-container">
            <h1 id="movie-name">Назва фільму</h1>
        </div>

        <div class="showcase-container">
            <ul class="showcase">
                <li>
                    <div class="seat"></div>
                    <small>Вільно</small>
                </li>
                <li>
                    <div class="seat selected"></div>
                    <small>Вибрано</small>
                </li>
                <li>
                    <div class="seat occupied"></div>
                    <small>Зайнято</small>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="movie-screen">
                <img src="https://raw.githubusercontent.com/aakashsr/Movie-Seat-Booking/master/screen-thumb.png"
                     alt='screen'/>
            </div>

            <div class="row-container">
            </div>

            <div class="order-container">
                <h5 id="price" class='subtitle'>Ціна за місце - ₴</h5>
                <div class="text-wrapper">
                    <p class="text">Total Price ₴<span id="total">0</span></p>
                    <button>Замовити</button>
                </div>
            </div>

        </div>

    </div>
    <div class="order-container">
        <div class="user-order">
            <!--            <div class="order-element">-->
            <!--                <p>5 Ряд</p>-->
            <!--                <p>14 Місце</p>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<script src="/js/common/header.js"></script>
<script type="module" src="/js/booking/booking.js"></script>
</body>
</html>