<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/contacts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>QUAD Cinema</title>
</head>
<body>
<div id="background-popup"></div>
<header id="header">
    <a th:href="@{/}">
        <img src="/img/logo.png" alt="logo">
    </a>
    <div class="dropdown">
        <select id="cinemas">

        </select>
    </div>
    <nav>
        <ul class="main-nav">
            <a th:href="@{/movie}">
                <li>Фільми</li>
            </a>
            <a th:href="@{/info}">
                <li>Про нас</li>
            </a>
        </ul>
    </nav>
    <button id="main-login-button">Увійти</button>
    <div class="dropdown">
        <button hidden id="user-button"></button>
        <div class="dropdown-content">
            <a th:href="@{/account}">Управління акаутом</a>
            <a th:href="@{/account/booking}">Ваші замовлення</a>
        </div>
    </div>
</header>
<div class="login-popup">
    <div id="login-form">
        <span class="material-icons" id="close-login-button">close</span>
        <h2>Вхід</h2>
        <input type="email" class="input-field" name="email" id="email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
        <label id="lb-log"></label>
        <button id="login-popup-button" onclick="loginUser()">Увійти</button>
        <button id="registration-popup-button">Реєстрація</button>
    </div>

</div>

<div class="registration-popup">
    <div id="registration-form">
        <span class="material-icons" id="close-registration-button">close</span>
        <h2>Реєстрація</h2>
        <input type="text" class="input-field" name="name" id="registration-name" placeholder="Імʼя">
        <input type="text" class="input-field" name="surname" id="registration-surname" placeholder="Прізвище">
        <input type="email" class="input-field" name="email" id="registration-email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="registration-password" placeholder="Пароль">
        <input type="password" class="input-field" name="repeat-password" id="repeat-password"
               placeholder="Підтвердження пароля">
        <label id="lb-reg"></label>
        <button id="create-account-button" onclick="resisterNewUser()">Зареєструватися</button>
        <button id="login-form-button"> Увійти в обліковий запис</button>
    </div>
</div>


    <main>
        <div id="topSection">
            <h1>Про нас</h1>
            <img id="ourLogo"src="https://cdn.discordapp.com/attachments/1094256351284318209/1094280342426374325/Screenshot_2023-04-08_at_1easasdasdasd.11.55.png" alt="logo">
        </div>
        <div id="panelSection">
            <div class="panel">
                <input type="checkbox" id="check1">
                <label for="check1" class="panelHead">Як все починалось<img src="/static/assets/Expand_down.png"></label>
                <div class="panelContent content1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto qui veniam asperiores blanditiis explicabo non fugiat, illum, consequuntur aut animi mollitia modi dolore, inventore voluptate? Alias, vel atque animi perspiciatis porro, amet odio excepturi totam quibusdam illum explicabo possimus, tenetur necessitatibus architecto repellat ratione cupiditate quidem sunt culpa? Eaque.</div>
            </div>
            <div class="panel">
                <input type="checkbox" id="check2">
                <label for="check2" class="panelHead">Наші переваги<img src="/static/assets/Expand_down.png"></label>
                <div class="panelContent content2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto qui veniam asperiores blanditiis explicabo non fugiat, illum, consequuntur aut animi mollitia modi dolore, inventore voluptate? Alias, vel atque animi perspiciatis porro, amet odio excepturi totam quibusdam illum explicabo possimus, tenetur necessitatibus architecto repellat ratione cupiditate quidem sunt culpa? Eaque.</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerWrapper">
            <img src="https://cdn.discordapp.com/attachments/1094256351284318209/1094280342426374325/Screenshot_2023-04-08_at_1easasdasdasd.11.55.png" alt="logo" id="logo--bottom">
            <div>
                <h3>NULP films</h3>
                <p>Зробили ми - для вас</p>
            </div>
            <div>
                <h3>Зв'яжіться з нами</h3>
                <span class="sociaLogoContainer">
                    <img src="/static/assets/Facebook.png" alt="fb">
                    <img src="/static/assets/Twitter.png" alt="tw">
                    <img src="/static/assets/Instagram.png" alt="inst">
                    <img src="/static/assets/Youtube.png" alt="yt">
                </span>
            </div>
        </div>
        <div class="bottomText">
            <ul>
                <li><a href="#">Site Terms</a></li>
                <li><a href="#">Privacy Policy/Your Policy Rights</a></li>
                <li><a href="#">State Disclosures</a></li>
            </ul>
        </div>
    </footer>
<script src="/js/common/header.js"></script>
<script type="module" src="/js/contact/contacts.js"></script>
</body>