<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/film.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script defer src="../static/js/script.js"></script>
    <script defer src="../static/js/contact_service.js"></script>
    <title>FilmName</title>
</head>
<body>
    <header>
        <img src="https://cdn.discordapp.com/attachments/1094256351284318209/1094280342426374325/Screenshot_2023-04-08_at_1easasdasdasd.11.55.png" alt="logo">
        <div class="dropdown">
            <button class="dropbtn">Львів, ТРЦ Мегаполіс</button>
            <div class="dropdown-content">
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            </div>
        </div>
        <nav>
            <ul>
                <li>СКОРО</li>
                <li>ФІЛЬМИ</li>
                <li>РОЗКЛАД СЕАНСІВ</li>
                <li>ПРО НАС</li>
            </ul>
        </nav>
        <button id="loginBtn">Увійти</button>
    </header>
    
    <div id="backgroundPopup"></div>
    <div class="loginPopup">
        <form id="formPopup" onsubmit="submitContact(event);return false;">
            <h2>Вхід</h2>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Пароль">
            <input id="loginPopupBtn" type="submit" value="Увійти">
        </form>
        <button id="regPopupBtn">Реєстрація</button>
    </div>
    
    <div class="regPopup">
        <form id="formPopup" onsubmit="submitContact(event);return false;">
            <h2>Реєстрація</h2>
            <input type="text" name="Name" id="regName" placeholder="Імʼя">
            <input type="text" name="Surname" id="regSurName" placeholder="Прізвище">
            <input type="email" name="Email" id="regEmail" placeholder="Email">
            <input type="text" name="Password"  id="regPassword" placeholder="Пароль">
            <input type="text" name="DupPassword" id="regDupPass" placeholder="Підтвердження пароля">
            <input type="submit" id="createAccBtn">Створити</button>
        </form>
    </div>

    <main>
        <div class="linkTree">
            <a href="/templates/index.html">Quad Cinema</a><img src="/static/assets/Expand_right.png" alt="->">
            <a href="#">Фільми</a><img src="/static/assets/Expand_right.png" alt="->">
            <a href="#">Вавилон</a><img src="/static/assets/Expand_right.png" alt="->">
        </div>
        <div class="wrapper">
            <div id="imageContainer">
                <img src="https://miromax.film/images/cinema/ky1-521.jpg" alt="filmLogo">
            </div>
            <div class="infoSection">
                <h1>Вавилон</h1>
                <p>Вік: <span id="ageRestriction">18+</span></p>
                <p>Рік: <span id="year">2023</span></p>
                <p>Період прокату: <span id="period">19.03.2023 - 23.05.2023</span></p>
                <p>Жанр: <span id="genre">історичний, драма</span></p>
                <p>Тривалість: <span id="duration">189 хв.</span></p>
                <p>У головних ролях: <span id="mainChars">Бред Пітт, Марґо Роббі, Тобі Маґваєр, Олівія Вайлд</span></p>
                <p id="movieDescription">Лауреат премії «Оскар» Демієн Шазелл збирає неповторний зірковий каст
                та запрошує поринути в Лос-Анджелес 1920-х років! 
                Зустрічайте на великому екрані Бреда Пітта, Марґо Роббі, Дієго Кальву, 
                Тобі Маґвайра й Олівію Вайлд в епічній кіноісторії. Шалена 
                розповідь про величезні амбіції та надмірну дозволеність розкаже про злети 
                та падіння в епоху декадансу та розпусти в ранньому Голлівуді.</p>
            </div>
        </div>
    </main>
</body>