<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Cinema</title>
</head>
<body>
<div id="background-popup"></div>
<header>
    <img src="https://cdn.discordapp.com/attachments/1094256351284318209/1094280342426374325/Screenshot_2023-04-08_at_1easasdasdasd.11.55.png"
         alt="logo">
    <div class="dropdown">
        <button class="dropbtn">Львів, ТРЦ Мегаполіс</button>
        <div id="cinemas" class="dropdown-content">
        </div>
    </div>
    <nav>
        <ul>
            <li>СКОРО</li>
            <li>ФІЛЬМИ</li>
            <li>РОЗКЛАД СЕАНСІВ</li>
            <li>ПРО НАС</li>
        </ul>
    </nav>
    <button id="main-login-button">Увійти</button>
</header>
<div class="login-popup">
    <form id="login-form" onsubmit="loginUser(event);return false;">
        <span class="material-icons" id="close-login-button">close</span>
        <h2>Вхід</h2>
        <input type="email" class="input-field" name="email" id="email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
        <input id="login-popup-button" type="submit" value="Увійти">
        <button id="registration-popup-button">Реєстрація</button>

    </form>

</div>

<div class="registration-popup">
    <form id="registration-form" onsubmit="resisterNewUser(event);return false;">
        <span class="material-icons" id="close-registration-button">close</span>
        <h2>Реєстрація</h2>
        <input type="text" class="input-field" name="name" id="registration-name" placeholder="Імʼя">
        <input type="text" class="input-field" name="surname" id="registration-surname" placeholder="Прізвище">
        <input type="email" class="input-field" name="email" id="registration-email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="registration-password" placeholder="Пароль">
        <input type="password" class="input-field" name="repeat-password" id="repeat-password"
               placeholder="Підтвердження пароля">
        <input type="submit" id="create-account-button" value="Зареєструватися">
        <button id="login-form-button"> Увійти в обліковий запис</button>
    </form>
</div>

<main>
    <section class="slider-container">
        <div class="slider-wrapper">
            <div id="slider" class="slider"></div>
            <div id="slider-nav" class="slider-nav"></div>
        </div>
    </section>

    <div id="card-container" class="card-container">
    </div>
    <footer>

    </footer>
</main>

<script  src="/js/common/header.js"></script>
<script  type="module" src="/js/index/index.js"></script>


</body>
</html>