<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Cinema</title>
</head>
<body>
    <header>
        <img src="https://cdn.discordapp.com/attachments/1094256351284318209/1094280342426374325/Screenshot_2023-04-08_at_1easasdasdasd.11.55.png" alt="logo">
        <div class="dropdown">
            <button class="dropbtn">Львів, ТРЦ Мегаполіс</button>
            <div class="dropdown-content">
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            <a href="#">Львів, ТРЦ Мегаполіс</a>
            </div>
        </div>
        <nav>
            <ul>
                <li>СКОРО</li>
                <li>ФІЛЬМИ</li>
                <li>РОЗКЛАД СЕАНСІВ</li>
                <li>ПРО НАС</li>
            </ul>
        </nav>
        <button id="loginBtn">Увійти</button>
    </header>
    
    <div id="backgroundPopup"></div>
    <div class="loginPopup">
        <form id="formPopup" onsubmit="loginUser(event);return false;">
            <h2>Вхід</h2>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Пароль">
            <input id="loginPopupBtn" type="submit" value="Увійти">
        </form>
        <button id="regPopupBtn">Реєстрація</button>
    </div>

    <div class="regPopup">
        <form id="formPopup" onsubmit="resisterNewUser(event);return false;">
            <h2>Реєстрація</h2>
            <input type="text" name="name" id="regName" placeholder="Імʼя">
            <input type="text" name="surname" id="regSurName" placeholder="Прізвище">
            <input type="email" name="email" id="regEmail" placeholder="Email">
            <input type="text" name="password"  id="regPassword" placeholder="Пароль">
            <input type="text" name="duppassword" id="regDupPass" placeholder="Підтвердження пароля">
            <input type="submit" id="createAccBtn">Створити</button>
        </form>
    </div>

    <div class="movieWrapper">
        <article class="movieFrame">
            <h2>Мавка. Лісова пісня</h2>
            <img src="https://miromax.film/images/cinema/ky1-532.jpg" alt="movie image">
            <p><span>0+ </span> Комедія, Фентезі, Анімація</p>
            <h5>Сьогодні, <time>08 квітня</time></h5>
            <button class="movieBtn">
                <h4>18:00</h4>
                <p><b>160</b>uah</p>
            </button>
        </article>

        <article class="movieFrame">
            <h2>Мавка. Лісова пісня</h2>
            <img src="https://miromax.film/images/cinema/ky1-532.jpg" alt="movie image">
            <p><span>0+ </span> Комедія, Фентезі, Анімація</p>
            <h5>Сьогодні, <time>08 квітня</time></h5>
            <button class="movieBtn">
                <h4>18:00</h4>
                <p><b>160</b>uah</p>
            </button>
        </article>

        <article class="movieFrame">
            <h2>Мавка. Лісова пісня</h2>
            <img src="https://miromax.film/images/cinema/ky1-532.jpg" alt="movie image">
            <p><span>0+ </span> Комедія, Фентезі, Анімація</p>
            <h5>Сьогодні, <time>08 квітня</time></h5>
            <button class="movieBtn">
                <h4>18:00</h4>
                <p><b>160</b>uah</p>
            </button>
        </article>

        <article class="movieFrame">
            <h2>Мавка. Лісова пісня</h2>
            <img src="https://miromax.film/images/cinema/ky1-532.jpg" alt="movie image">
            <p><span>0+ </span> Комедія, Фентезі, Анімація</p>
            <h5>Сьогодні, <time>08 квітня</time></h5>
            <button class="movieBtn">
                <h4>18:00</h4>
                <p><b>160</b>uah</p>
            </button>
        </article>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/contact_service.js"></script>
</body>
</html>