<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/movie.css">

    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <title>QUAD Cinema</title>
</head>
<body>
<div id="background-popup"></div>
<header id="header">
    <a th:href="@{/}">
        <img src="/img/logo.png" alt="logo">
    </a>
    <div class="dropdown">
        <select id="cinemas">

        </select>
    </div>
    <nav>
        <ul class="main-nav">
            <a th:href="@{/movie}">
                <li>Фільми</li>
            </a>
            <a>
                <li>Розклад сеансів</li>
            </a>
            <a th:href="@{/info}">
                <li>Про нас</li>
            </a>
        </ul>
    </nav>
    <button id="main-login-button">Увійти</button>

</header>
<div class="login-popup">
    <div id="login-form">
        <span class="material-icons" id="close-login-button">close</span>
        <h2>Вхід</h2>
        <input type="email" class="input-field" name="email" id="email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
        <label id="lb-log"></label>
        <button id="login-popup-button" onclick="loginUser()">Увійти</button>
        <button id="registration-popup-button">Реєстрація</button>
    </div>

</div>

<div class="registration-popup">
    <div id="registration-form">
        <span class="material-icons" id="close-registration-button">close</span>
        <h2>Реєстрація</h2>
        <input type="text" class="input-field" name="name" id="registration-name" placeholder="Імʼя">
        <input type="text" class="input-field" name="surname" id="registration-surname" placeholder="Прізвище">
        <input type="email" class="input-field" name="email" id="registration-email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="registration-password" placeholder="Пароль">
        <input type="password" class="input-field" name="repeat-password" id="repeat-password"
               placeholder="Підтвердження пароля">
        <label id="lb-reg"></label>
        <button id="create-account-button" onclick="resisterNewUser()">Зареєструватися</button>
        <button id="login-form-button"> Увійти в обліковий запис</button>
    </div>
</div>


<main>
    <!--<div class="link-tree">
        <a href="/templates/index.html">Quad Cinema</a><img src="/static/assets/Expand_right.png" alt="->">
        <a href="#">Фільми</a><img src="/static/assets/Expand_right.png" alt="->">
        <a href="#">Вавилон</a><img src="/static/assets/Expand_right.png" alt="->">
    </div>-->
    <div id="movie-box" class="wrapper">
<!--        <div id="image-container">-->
<!--            <img src="https://miromax.film/images/cinema/ky1-521.jpg" alt="movieLogo">-->
<!--        </div>-->
<!--        <div class="info-section">-->
<!--            <h1>Вавилон</h1>-->
<!--            <p>Вік: <span id="age-restriction">18+</span></p>-->
<!--            <p>Період прокату: <span id="period">19.03.2023 - 23.05.2023</span></p>-->
<!--            <p>Жанр: <span id="genre">історичний, драма</span></p>-->
<!--            <p>Тривалість: <span id="duration">189 хв.</span></p>-->
<!--            <p>У головних ролях: <span id="main-chars">Бред Пітт, Марґо Роббі, Тобі Маґваєр, Олівія Вайлд</span></p>-->
<!--            <p id="movie-description">Лауреат премії «Оскар» Демієн Шазелл збирає неповторний зірковий каст-->
<!--                та запрошує поринути в Лос-Анджелес 1920-х років!-->
<!--                Зустрічайте на великому екрані Бреда Пітта, Марґо Роббі, Дієго Кальву,-->
<!--                Тобі Маґвайра й Олівію Вайлд в епічній кіноісторії. Шалена-->
<!--                розповідь про величезні амбіції та надмірну дозволеність розкаже про злети-->
<!--                та падіння в епоху декадансу та розпусти в ранньому Голлівуді.</p>-->
<!--        </div>-->
    </div>
</main>
<script src="/js/common/header.js"></script>
<script type="module" src="/js/movie/movie.js"></script>

</body>
</html>