<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <title>QUAD Cinema</title>
</head>
<body>
<header id="header">
    <a th:href="@{/}" class="logo">
        <img src="/img/logo.png" alt="logo">
    </a>
    <div class="dropdown">
        <select id="cinemas">

        </select>
    </div>
    <nav>
        <ul class="main-nav">
            <a th:href="@{/movie}">
                <li>Фільми</li>
            </a>
            <a th:href="@{/info}">
                <li>Про нас</li>
            </a>
        </ul>
    </nav>
    <button hidden id="main-login-button">Увійти</button>
    <div class="dropdown">
        <button hidden id="user-button"></button>
        <div class="dropdown-content">
            <a th:href="@{/account}">Управління акаутом</a>
            <a th:href="@{/account/booking}">Ваші замовлення</a>
        </div>
    </div>
</header>

<div id="backgroundPopup"></div>
<div class="login-popup">
    <div id="login-form">
        <span class="material-icons" id="close-login-button">close</span>
        <h2>Вхід</h2>
        <input type="email" class="input-field" name="email" id="email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
        <label id="login-label"></label>
        <button id="login-popup-button" onclick="loginUser()">Увійти</button>
        <button id="registration-popup-button">Реєстрація</button>
    </div>

</div>

<div class="registration-popup">
    <div id="registration-form">
        <span class="material-icons" id="close-registration-button">close</span>
        <h2>Реєстрація</h2>
        <input type="text" class="input-field" name="name" id="registration-name" placeholder="Імʼя">
        <input type="text" class="input-field" name="surname" id="registration-surname" placeholder="Прізвище">
        <input type="email" class="input-field" name="email" id="registration-email" placeholder="Email">
        <input type="password" class="input-field" name="password" id="registration-password" placeholder="Пароль">
        <input type="password" class="input-field" name="repeat-password" id="repeat-password"
               placeholder="Підтвердження пароля">
        <label id="registration-label"></label>
        <button id="create-account-button" onclick="resisterNewUser()">Зареєструватися</button>
        <button id="login-form-button"> Увійти в обліковий запис</button>
    </div>
</div>
<main>
    <div class="profile-container">
        <button id="profile-box-button">Профіль</button>
        <button id="ticket-box-button">Квитки</button>
        <div id="profile-box">
            <div class="user-info-box">
                <h1 id ="username-header" class="box-header"></h1>
                <div class="user-info">
                    <div class="info-section">
                        <p class="field-name">Імʼя</p>
                        <p class="field-info">
                            <input type="text" class="change-input-field" name="name" id="first-name-input"
                                   placeholder="Введіть нове імʼя">
                            <span id="first-name" class="info-text"></span>
                            <span class="material-symbols-outlined edit-icon" id="first-name-button">edit_square</span>
                        </p>
                    </div>
                    <div class="info-section">
                        <p class="field-name">Прізвище</p>
                        <p class="field-info">
                            <input type="text" class="change-input-field" name="surname" id="last-name-input"
                                   placeholder="Введіть нове прізвище">
                            <span id="last-name" class="info-text"></span>
                            <span class="material-symbols-outlined edit-icon" id="last-name-button">edit_square</span>
                        </p>
                    </div>
                    <div class="info-section">
                        <p class="field-name">Email</p>
                        <p class="field-info">
                            <input type="text" class="change-input-field" name="email" id="email-input"
                                   placeholder="Введіть новий Email">
                            <span id="user-email" class="info-text"></span>
                            <span class="material-symbols-outlined edit-icon" id="email-button">edit_square</span>
                        </p>
                    </div>
                    <div class="info-section">
                        <p class="field-name">Пароль</p>
                        <p class="field-info">
                            <input type="password" class="change-input-field" name="password" id="password-input"
                                   placeholder="Введіть новий пароль">
                            <span id="user-password" class="info-text"></span>
                            <span class="material-symbols-outlined edit-icon" id="password-button">edit_square</span>
                        </p>
                    </div>
                </div>
                <a th:href="@{/account}">
                    <button id="save-button" >Зберегти зміни</button>
                </a>

            </div>
        </div>
        <div id="ticket-box">
            <div class="user-info-box">
                <h1 class="box-header">Ваші квитки</h1>
                <p class="ticket-header">
                    <span id="film-name-header" class="ticket-field-name-header">Фільм</span>
                    <span id="film-date-header" class="ticket-field-name-header">Дата сеансу</span>
                    <span id="ticket-row-header" class="ticket-field-name-header">Ряд</span>
                    <span id="ticket-seat-header" class="ticket-field-name-header">Місце</span>
                    <span id="ticket-price-header" class="ticket-field-name-header">Вартість</span>
                </p>
                <div id="ticket-container">


                </div>
            </div>
        </div>
    </div>


</main>
<footer>
    <p class="footer-description">
        <a href="https://web.telegram.org/" class="footer-icon">
            <img src="/img/telegram.svg"  alt="telegram">
        </a>
        <a href="https://www.instagram.com/" class="footer-icon">
            <img src="/img/instagram.svg"  alt="instagram">
        </a>
        <span id="text-description" >2023 QUAD Cinema | Всі права захищені</span>
    </p>
</footer>
<script src="/js/common/header.js"></script>
<script type="module" src="/js/profile/profile.js"></script>
</body>
</html>