
footer{
    height: 100px;
}

#movie-card-box{
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    margin-top: 130px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.title{
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;

}
.age{
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.duration{
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 900;
}
.duration span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
}
.genres{
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.genres span{
    margin-left: 10px;
    font-weight: normal;
}
.description{
    margin-top: 20px;
    font-size: 18px;
    margin-left: 0 !important;
    padding-left: 20px;
    padding-right: 25%;
}

.filmsWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.card{
    position: relative;
    width: 100%;
    height: 460px;
    border-radius: 20px;   
    overflow: hidden;
    margin: 4vh 0;
}

.card .poster{
    position: relative;
    overflow: hidden;
}

.card .poster::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, #c6c6c6 40%, transparent);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: 1;
}

.card:hover .poster::before{
    opacity: 1;
    transition: 0.5s;
}

.card:hover .information{
    opacity: 1;
    transition: 0.5s;
}

.card .poster img{
    width: 100%;
}

.information{
    opacity: 0;
    position: absolute;
    top: 0;
    color: #000;
    font-size: large;
    z-index: 3;
}

.information{
    margin: 30px 18px;
}
