header{
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    width: 6em;
    margin: 0 20px;
}

header nav{
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 100%; */
}

header ul{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
}

header ul li{
    list-style: none;
}

header button{
    margin-right: 4%;
    padding: 12px 26px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}