
body{
    color: white;
    font-size: 1.2em;
}

.link-tree{
    display: flex;
    align-items: center;
    padding: 40px 60px;
}
a{
    color: #C6C6C6;
    text-decoration: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper p{
    font-weight: bold;
    margin-top: 20px;
}

.wrapper span{
    margin-left: 16px;
    font-weight: 400;

}

.wrapper img{
    float: left;
    margin: 4rem;
    width: 16vw;
    min-width: min-content;
}

.image-container{
    width: 30%;
}

.info-section{
    width: 70%;
}

#movie-description{
    font-weight: 500;
    max-width: 80%;
}
