*, *::after, *::before {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
}

.card-container {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    position: relative;
    width: 20rem;
    height: 480px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    transition: transform 0.3s ease-out;
    overflow: hidden;
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease-out;
}

.card-body {
    width: 20rem;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(161, 161, 161, 0.85);
    transition: opacity 0.3s ease-out;
    opacity: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.film-title{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    text-align: center;
}

.card:hover img {
    transform: scale(1.1);

}

.description{
    padding: 5px 0 0 30px;
    font-size: 1.05rem;
}

.info-type {
    padding: 40px 0 0 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.date {
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
}

.card-body:hover {
    opacity: 1;
    transition: opacity 0.3s ease-out;

}
.card:hover {
    transform: scale(1.1);

}



.movieBtn {
    background-color: white;
    border-radius: 30px;
    border: 0;
    padding: 20px 40px;
    margin-top: 12px;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.2);
}

.bigFrame {
    position: relative;
    height: fit-content;
}

.bigFrame img {
    width: 100%;
}

.bigFrame button {
    position: absolute;
    bottom: 30%;
    right: 10%;
    background-color: #fff;
    border: 0;
    border-radius: 12px;
    padding: 12px 46px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 0;
}

footer{
    height: 100px;
}